[Unit]
Description=Update additional fonts for ONLYOFFICE Mail
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/onlyoffice-email-additional-fonts
