[Unit]
Description=One-shot ONLYOFFICE additional font validation after boot

[Timer]
OnBootSec=2min
Unit=onlyoffice-email-additional-fonts.service

[Install]
WantedBy=timers.target
